#tabulka {
	width: 505px;
}

#hranahra {
	width: 405px;
	height: 405px;
	list-style-type: none;
	background: white;
	border: 3px solid black;
	position: relative;
	top: 0;
	left: 0;
	padding: 0.11%;
	margin: 0;
}

.cisloPrvek {
	line-height: 0%;
	height: 70%;
	font-size: 100% !important;
	font-family: Arial !important;
}

.vpisek {
	height: 30%;
	line-height: 60%;
	font-family: Arial !important;
}

#hranahra li {
	float: left;
	width: 11.1111111%;
	height: 11.1111111%;
	border: 1px solid black;
	color: black;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
}

#hranahra li input {
	width: 100%;
	display: block;
	border: none;
	font-size: 60%;
	text-align: center;
	font-weight: bold;
	background: transparent;
}

#hranahra li.P {
	border-right: 2px solid black;
}

#hranahra li.L {
	border-left: 2px solid black;
}

#hranahra li.H {
	border-top: 2px solid black;
}

#hranahra li.D {
	border-bottom: 2px solid black;
}

#hranahra li.DP {
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

#hranahra li.LD {
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

#hranahra li.LH {
	border-left: 2px solid black;
	border-top: 2px solid black;
}

#hranahra li.HP {
	border-top: 2px solid black;
	border-right: 2px solid black;
}
